@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot");
  src: local("☺"), url("../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold/OpenSans-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.eot");
  src: local("☺"), url("../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.eot");
  src: local("☺"), url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold/OpenSans-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans-Italic";
  src: url("../fonts/OpenSans-Italic/OpenSans-Italic.eot");
  src: local("☺"), url("../fonts/OpenSans-Italic/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic/OpenSans-Italic.ttf") format("truetype"), url("../fonts/OpenSans-Italic/OpenSans-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot");
  src: local("☺"), url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular/OpenSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot");
  src: local("☺"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans-SemiboldItalic";
  src: url("../fonts/OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.eot");
  src: local("☺"), url("../fonts/OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.ttf") format("truetype"), url("../fonts/OpenSans-SemiboldItalic/OpenSans-SemiboldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Conv_pt-serif_[allfont.ru]";
  src: url("../fonts/pt-serif/pt-serif_[allfont.ru].eot");
  src: local("☺"), url("../fonts/pt-serif/pt-serif_[allfont.ru].woff") format("woff"), url("../fonts/pt-serif/pt-serif_[allfont.ru].ttf") format("truetype"), url("../fonts/pt-serif/pt-serif_[allfont.ru].svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-bold/Lato-bold.eot");
  src: local("☺"), url("../fonts/Lato-Bold/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold/Lato-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; 
}


@font-face {
  font-family: "ArialNarrow";
  src: url("../fonts/ArialNarrow/ArialNarrow.eot");
  src: local("☺"), url("../fonts/ArialNarrow/ArialNarrow.woff") format("woff"), url("../fonts/ArialNarrow/ArialNarrow.ttf") format("truetype"), url("../fonts/ArialNarrow/ArialNarrow.svg") format("svg");
  font-weight: normal;
  font-style: normal; 
}

  
  @font-face {
  font-family: "OpenSans-LightOpenSans-Light";
  src: url("../fonts/OpenSans-Light/OpenSans-Light.eot");
  src: local("☺"), url("../fonts/OpenSans-Light/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light/OpenSans-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Conv_MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;}

    @font-face {
  font-family: "MicrosoftSansSerif";
  src: url("../fonts/MicrosoftSansSerif/MicrosoftSansSerif.eot");
  src: local("☺"), url("../fonts/MicrosoftSansSerif/MicrosoftSansSerif.woff") format("woff"), url("../fonts/MicrosoftSansSerif/MicrosoftSansSerif.ttf") format("truetype"), url("../fonts/MicrosoftSansSerif/MicrosoftSansSerif.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

  @font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../fonts/MyriadPro-Bold/MyriadPro-Bold.eot");
  src: local("☺"), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }