@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";


.ah-menu-list {
    display: block;
    .ah-menu-list_item{
    	position: relative;
    	display: block;
    	border-top: 1px solid #f0f3f8;
    	.ah-menu-list_item-link{
		    display: inline-block;
    		width: 100%;
    		font-family: "OpenSans-LightOpenSans-Light";
			font-size: 13px;
			line-height: 25px;
			cursor: pointer;
			color: #5c6d7d;
			padding: 15px 0px 15px 35px;
			text-decoration: none !important;
    	}
    	.ah-menu-list_item-link:hover{
    		background-color: #27cf59;
    		color: #fff;
    		text-decoration: none !important;
    		background-image: linear-gradient(180deg, #28d15a 0%, #28d15a 2%, #1fc350 89%, #14b242 89%, #14b242 100%);
    		box-shadow: 0 0 16px rgba(40, 209, 90, 0.11);
    	}
    	.ah-submenu-list{
			display: none;
			width: 100%;
			.ah-submenu-list_item{
				display: block;
				border-bottom: 1px solid #f0f3f8;
				background: url(../img/db-side-mark.png) calc(0% + 11px) center no-repeat;
				.ah-submenu-list_item-link{
					font-family: "OpenSans-LightOpenSans-Light";
					font-size: 13px;
					line-height: 42px;
					color: #2d3246;
					text-decoration: underline;
					padding: 15px 0px 15px 35px;
				}
				.ah-submenu-list_item-link:hover{
					color: #14b242;
					text-decoration: underline;
					background-color: none !important;
				}
			}
		}
    }
    .ah-menu-list_item:before{
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        top: 18px;
        left: 5px;
        background: url(../img/db-side1.png) center center no-repeat;
    }
}

// **********************************************************

/* Ширина слайдера */
#slider {
    width: 200px;
}
/* Контейнер слайдера */
.ui-slider {
    position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 13px;   /* Задаем нужную ширину */
    height: 13px;  /* и высоту */
    background-color: red;
    // background: url(../img/slider.png) no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
    cursor: pointer
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
     height: 3px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle { 
    top: -5px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content { 
    border: 1px solid #D4D4D4;
    background: #fff;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header { 
    border: 1px solid #D4D4D4;
    background: #f00;
}
/* скругление для полосы слайдера */
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

// ***********************************************************



@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}