@import "reset.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "style5.css";
@import "style6.css";
@import "fonts.css";

body{
	color: #fafbfd;
}
.clear{
    clear: both;
}
.center{
	text-align: center;
}
.container{
	outline: 1px solid red;
	padding: 0px !important;
}

.header-fixed{
	position: fixed;
	top: 0px;
	display: block;
}
.db-wrapper{
	padding-top: 30px;
	
}
.main-slider{
	.item{
		border-radius: 5px !important;
		overflow: hidden;
		position: relative;
		img{
			display: inline-block;
			border-radius: 5px !important;
			border: 1px solid #ebedef;
		}
	}
	.owl-buttons{
		.owl-prev{
			position: absolute;
			top: 45%;
			left: 1%;
		}
		.owl-next{
			position: absolute;
			top: 45%;
			right: 4%;
		}
		span{
			font-size: 26px !important;
			color: #2d3246 !important;
		}
	}
	.owl-pagination{
		margin-top: -50px;
		.owl-page{
			span{
				display: inline-block;
				width: 14px !important;
				height: 14px !important;
				border-radius: 10em !important;
				background: #fff !important;
				border: 1px solid darken(#e3e5e7, 8%);
				position: relative !important;
			}
		}
		.active{
			span:before{
				position: absolute;
				content: "";
				width: 6px;
				height: 6px;
				border-radius: 10em !important;
				background: #25cc56 !important;
				top: 3px;
				left: 3px;

			}
		}
	}
}
.arrow-right{
	display: inline-block;
	outline: 1px solid red;
}
.arrow-left{
	display: inline-block;
	outline: 1px solid red;

}
.main-content-left{
	float: left;
	width: 100%;
	box-sizing: border-box;
	
}
.main-content-right{
	float: right;
	width: 100%;
	box-sizing: border-box;

}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.main-content-left{
		width: 280px;
		outline: 1px solid red;
	}
	.main-content-right{
		width: 715px;
		outline: 1px solid red;
	}
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}


