@charset "UTF-8";
@import url(reset.css);
@import url(style.css);
@import url(style2.css);
@import url(style3.css);
@import url(style4.css);
@import url(fonts.css);
h3 {
  display: block;
  font-family: "ArialNarrow";
  color: #2d3246;
  font-size: 21px;
  line-height: 17px;
  text-transform: uppercase; }

.db-materials {
  width: 100%;
  background-color: #fff !important;
  border: 1px solid #ebedef;
  border-radius: 3px;
  padding: 22px 50px; }

.db-materials-box1, .db-materials-box2, .db-materials-box3 {
  display: inline-block;
  width: 32.3%; }

.db-materials-list li {
  position: relative;
  display: block;
  margin-bottom: 15px; }
  .db-materials-list li a {
    font-family: "OpenSans-LightOpenSans-Light";
    color: #2d3246;
    font-size: 13px;
    line-height: 26px;
    text-decoration: underline;
    padding-left: 20px; }
  .db-materials-list li a:hover {
    color: #14b242; }
.db-materials-list li:last-child {
  margin-bottom: 0px; }
.db-materials-list li:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 10px;
  left: 0px;
  background: url(../img/db-side_marker.png) center center no-repeat; }

.db-sidebar {
  margin-bottom: 13px;
  background: #fff !important; }

.ah-submenu-list input[type="text"] {
  width: 95px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #ebedef;
  border-radius: 2px;
  color: #2d3246;
  font-family: "MicrosoftSansSerif";
  font-size: 19px;
  line-height: 35px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  outline: none; }
.ah-submenu-list .ah-submenu-span, .ah-submenu-list .ah-submenu-span1 {
  width: 100%;
  height: 22px;
  display: inline-block;
  padding: 3px;
  background: #fafbfd; }
.ah-submenu-list .ah-submenu-span {
  margin-bottom: 3px; }
.ah-submenu-list .ah-submenu-span:hover, .ah-submenu-list .ah-submenu-span1:hover {
  background: #e5f7ea;
  transition: background 0.3s, border 0.3s; }
  .ah-submenu-list .ah-submenu-span:hover .ah-check1, .ah-submenu-list .ah-submenu-span:hover .ah-check2, .ah-submenu-list .ah-submenu-span:hover .ah-check3, .ah-submenu-list .ah-submenu-span:hover .ah-check4,
  .ah-submenu-list .ah-submenu-span:hover .ah-check5, .ah-submenu-list .ah-submenu-span:hover .ah-check6, .ah-submenu-list .ah-submenu-span:hover .ah-check7, .ah-submenu-list .ah-submenu-span:hover .ah-check8, .ah-submenu-list .ah-submenu-span1:hover .ah-check1, .ah-submenu-list .ah-submenu-span1:hover .ah-check2, .ah-submenu-list .ah-submenu-span1:hover .ah-check3, .ah-submenu-list .ah-submenu-span1:hover .ah-check4,
  .ah-submenu-list .ah-submenu-span1:hover .ah-check5, .ah-submenu-list .ah-submenu-span1:hover .ah-check6, .ah-submenu-list .ah-submenu-span1:hover .ah-check7, .ah-submenu-list .ah-submenu-span1:hover .ah-check8 {
    font-family: "OpenSans-Semibold";
    color: #2d3246 !important; }
.ah-submenu-list label {
  display: block;
  background: url(../img/db-check0.jpg) center center no-repeat;
  width: 14px;
  height: 14px;
  font-family: "OpenSans-LightOpenSans-Light";
  font-size: 13px;
  color: #505863;
  padding-left: 23px;
  cursor: pointer; }
.ah-submenu-list input[type="checkbox"] {
  display: none; }
.ah-submenu-list .check1:checked ~ .ah-check1 {
  background: url(../img/db-check1.jpg) center center no-repeat; }
.ah-submenu-list .check2:checked ~ .ah-check2 {
  background: url(../img/db-check1.jpg) center center no-repeat; }
.ah-submenu-list .check3:checked ~ .ah-check3 {
  background: url(../img/db-check1.jpg) center center no-repeat; }
.ah-submenu-list .check4:checked ~ .ah-check4 {
  background: url(../img/db-check1.jpg) center center no-repeat; }
.ah-submenu-list .check5:checked ~ .ah-check5 {
  background: url(../img/db-check1.jpg) center center no-repeat; }
.ah-submenu-list .check6:checked ~ .ah-check6 {
  background: url(../img/db-check1.jpg) center center no-repeat; }
.ah-submenu-list .check7:checked ~ .ah-check7 {
  background: url(../img/db-check1.jpg) center center no-repeat; }
.ah-submenu-list .check8:checked ~ .ah-check8 {
  background: url(../img/db-check1.jpg) center center no-repeat; }
.ah-submenu-list .db-input-li {
  display: inline-block;
  margin-right: 38px; }
.ah-submenu-list .db-input-li1 {
  display: inline-block; }

.ah-submenu-fon {
  background-color: #fafbfd; }

.ah-submenu-left, .ah-submenu-right {
  display: inline-block;
  width: 45%; }

.ah-submenu-left {
  padding: 14px 0px 14px 10px; }

.ah-submenu-right {
  padding: 14px 0px 14px 23px; }

.ah-submenu-list1 {
  text-align: center !important;
  padding: 18px 0px;
  background-color: #fafbfd; }

.db-h3 {
  margin-top: 31px;
  margin-bottom: 34px; }

.db-padd {
  position: relative;
  padding-left: 61px; }

.db-padd:before {
  position: absolute;
  content: "";
  width: 22px;
  height: 16px;
  top: -1px;
  left: 21px;
  background: url(../img/db-side_top.png) center center no-repeat; }

.db-padd1 {
  padding-left: 10px; }

.db-sidebar4-imgbox1, .db-sidebar4-imgbox2 {
  padding: 0px 10px; }

.db-sidebar4-spantop {
  display: block;
  font-family: "ArialNarrow";
  color: #2d3246;
  font-size: 21px;
  line-height: 23px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 65px;
  text-align: center; }

.db-sidebar4-linktop {
  display: block;
  width: 100%;
  height: 32px;
  background-color: #fbdf5a;
  border-radius: 3px;
  color: #fff;
  font-family: "MyriadPro-Bold";
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  border: none;
  margin-top: 50px;
  margin-bottom: 55px; }

.db-sidebar4-linktop:hover {
  background: #fad528; }

.db-sidebar4-div1 {
  display: table-cell;
  width: 60%;
  vertical-align: top; }

.db-sidebar4-div2 {
  display: table-cell;
  width: 40%;
  vertical-align: top;
  text-align: center; }

.db-sidebar4-imgbox {
  margin-top: 5px; }

.db-sidebar4 {
  display: table;
  width: 100%;
  border: 1px solid #ebedef;
  border-radius: 3px;
  padding: 15px 10px;
  margin-bottom: 13px;
  background: #fff !important; }

.db-sidebar4-link {
  display: block;
  color: #4278ca;
  font-family: "OpenSans-Regular";
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  margin-top: 6px; }

.db-sidebar4-link1 {
  position: relative;
  display: block;
  color: #26ce58;
  font-family: "OpenSans-Regular";
  font-size: 12px;
  line-height: 18px; }

.db-sidebar4-link1:before {
  position: absolute;
  content: "";
  width: 92px;
  height: 1px;
  bottom: 0px;
  left: 0px;
  background: url(../img/db-side_line.png) center center no-repeat; }

.db-sidebar4-span {
  position: relative;
  display: block;
  color: #929ca6;
  font-family: "OpenSans-Regular";
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 12px; }

.db-sidebar4-span:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 8px;
  top: 5px;
  left: 1px;
  background: url(../img/db-side_arr.png) center center no-repeat; }

.db-sidebar4-span1 {
  display: block;
  color: #a1a9b2;
  font-family: "OpenSans-LightOpenSans-Light";
  font-size: 14px;
  line-height: 25px;
  text-decoration: line-through; }

.db-sidebar4-span2 {
  display: block;
  font-family: "MicrosoftSansSerif";
  color: #2d3246;
  font-size: 19px;
  line-height: 20px;
  margin-bottom: 40px; }

.db-sidebar4-span22 {
  margin-bottom: 52px !important; }

.db-wrapdiv {
  width: 100%;
  background-color: #28d15a;
  background-image: linear-gradient(180deg, #28d15a 0%, #28d15a 2%, #1fc350 94%, #14b242 94%, #14b242 100%);
  border-radius: 3px;
  padding: 5px; }

.db-wrapdiv:hover {
  background-color: #da2d26 !important;
  background-image: linear-gradient(180deg, #da2d26 0%, #da2d26 2%, #da2d26 91%, #cd1e1a 91%, #cd1e1a 100%);
  transition: background 0.5s, border 0.5s; }
  .db-wrapdiv:hover .db-wrapdiv-list {
    background-color: #a80905 !important; }

.db-wrapdiv-list {
  display: block;
  padding: 5px;
  background-color: #14b242;
  border-radius: 2px; }
  .db-wrapdiv-list li {
    display: inline-block;
    margin-right: 12px; }
    .db-wrapdiv-list li span {
      font-family: "OpenSans-Regular";
      font-size: 13px;
      line-height: 14px;
      color: #fff; }
    .db-wrapdiv-list li a {
      font-family: "OpenSans-Regular";
      font-size: 13px;
      line-height: 14px;
      color: #fff;
      cursor: pointer; }
  .db-wrapdiv-list li:last-child {
    margin-right: 0px; }

.db-sidebar4-span3 {
  position: relative;
  display: block;
  color: white;
  font-family: "MyriadPro-Regular";
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin-left: 7px; }

.db-sidebar4-span3:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  top: 3px;
  right: 8px;
  background: url(../img/db-side_kor.png) center center no-repeat; }

.db-paddleft {
  padding-left: 50px !important; }

.ah-font1 {
  color: #2d3246 !important;
  font-family: "OpenSans-Semibold" !important;
  font-size: 13px !important; }

.ah-menu-list {
  display: block;
  border: 1px solid #24cb56;
  border-radius: 3px; }
  .ah-menu-list .ah-menu-list_item {
    position: relative;
    display: block;
    margin-bottom: 1px;
    font-size: 0px; }
    .ah-menu-list .ah-menu-list_item .ah-menu-list_item-link {
      display: inline-block;
      width: 100%;
      font-family: "OpenSans-LightOpenSans-Light";
      font-size: 13px;
      line-height: 22px;
      cursor: pointer;
      color: #5c6d7d;
      padding: 11px 0px 9px 40px;
      text-decoration: none !important; }
    .ah-menu-list .ah-menu-list_item .ah-menu-list_item-link:hover {
      background-color: #27cf59;
      color: #fff;
      text-decoration: none !important;
      background-image: linear-gradient(180deg, #28d15a 0%, #28d15a 2%, #1fc350 89%, #14b242 89%, #14b242 100%);
      box-shadow: 0 0 16px rgba(40, 209, 90, 0.11); }
    .ah-menu-list .ah-menu-list_item .ah-submenu-list {
      display: none;
      width: 100%; }
      .ah-menu-list .ah-menu-list_item .ah-submenu-list .ah-submenu-list_item {
        position: relative;
        display: block;
        background: url(../img/db-side_marker.png) calc(0% + 22px) center no-repeat; }
        .ah-menu-list .ah-menu-list_item .ah-submenu-list .ah-submenu-list_item .ah-submenu-list_item-link {
          font-family: "OpenSans-LightOpenSans-Light";
          font-size: 13px;
          line-height: 42px;
          color: #2d3246;
          text-decoration: underline;
          padding: 15px 0px 15px 50px; }
        .ah-menu-list .ah-menu-list_item .ah-submenu-list .ah-submenu-list_item .ah-submenu-list_item-link:hover {
          color: #14b242;
          text-decoration: underline;
          background-color: none !important; }
      .ah-menu-list .ah-menu-list_item .ah-submenu-list .ah-submenu-list_item:before {
        position: absolute;
        content: "";
        width: calc(100% - 19px);
        height: 1px;
        bottom: -1px;
        left: 7px;
        background: #f0f3f8; }
      .ah-menu-list .ah-menu-list_item .ah-submenu-list li.ah-submenu-list_item:last-child {
        margin-bottom: 0px; }
  .ah-menu-list .ah-menu-list_item:after {
    position: absolute;
    content: "";
    width: calc(100% - 19px);
    height: 1px;
    top: 42px;
    left: 7px;
    background: #f0f3f8; }
  .ah-menu-list li.ah-menu-list_item:last-child {
    margin-bottom: 0px; }
  .ah-menu-list li.ah-menu-list_item:last-child:after {
    display: none; }

.db-item1, .db-item2, .db-item3, .db-item4, .db-item5, .db-item6, .db-item7,
.db-item8, .db-item9, .db-item10, .db-item11, .db-item12, .db-item13, .db-item14,
.db-item15, .db-item16, .db-item17, .db-item18, .db-item19, .db-item20,
.db-item21, .db-item22, .db-item23 {
  position: relative; }

.db-item1:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side1.png) center center no-repeat; }

.db-item2:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side2.png) center center no-repeat; }

.db-item3:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side3.png) center center no-repeat; }

.db-item4:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side4.png) center center no-repeat; }

.db-item5:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side5.png) center center no-repeat; }

.db-item6:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side6.png) center center no-repeat; }

.db-item7:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side7.png) center center no-repeat; }

.db-item8:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side8.png) center center no-repeat; }

.db-item9:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side9.png) center center no-repeat; }

.db-item10:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side10.png) center center no-repeat; }

.db-item11:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side11.png) center center no-repeat; }

.db-item12:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side12.png) center center no-repeat; }

.db-item13:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side13.png) center center no-repeat; }

.db-item14:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side14.png) center center no-repeat; }

.db-item15:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side15.png) center center no-repeat; }

.db-item16:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side16.png) center center no-repeat; }

.db-item17:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side17.png) center center no-repeat; }

.db-item18:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side18.png) center center no-repeat; }

.db-item19:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side19.png) center center no-repeat; }

.db-item20:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side20.png) center center no-repeat; }

.db-item21:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side21.png) center center no-repeat; }

.db-item22:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side22.png) center center no-repeat; }

.db-item23:before {
  position: absolute;
  content: "";
  width: 49px;
  height: 42px;
  top: 2px;
  left: 0;
  background: url(../img/db-side23.png) center center no-repeat; }

/* ╨и╨╕╤А╨╕╨╜╨░ ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░ */
#slider {
  width: 228px !important;
  margin-top: 18px; }

/* ╨Ъ╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░ */
.ui-slider {
  position: relative;
  margin: 0 auto; }

/* ╨Я╨╛╨╗╨╖╤Г╨╜╨╛╨║ */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 14px;
  /* ╨Ч╨░╨┤╨░╨╡╨╝ ╨╜╤Г╨╢╨╜╤Г╤О ╤И╨╕╤А╨╕╨╜╤Г */
  height: 11px;
  /* ╨╕ ╨▓╤Л╤Б╨╛╤В╤Г */
  background: url(../img/db-pols.png) no-repeat;
  /* ╨║╨░╤А╤В╨╕╨╜╨║╨░ ╨╕╨╖╨╛╨▒╤А╨░╨╢╨░╤О╤Й╨░╤П ╨┐╨╛╨╗╨╖╤Г╨╜╨╛╨║. ╨Ш╨╗╨╕ ╨╝╨╛╨╢╨╜╨╛ ╨╖╨░╨╗╨╕╤В╤М ╤Ж╨▓╨╡╤В╨╛╨╝, ╨╖╨░╨┤╨░╤В╤М ╨▒╨╛╤А╨┤╤О╤А ╨╕ ╤Б╨║╤А╤Г╨│╨╗╨╡╨╜╨╕╤П */
  cursor: pointer;
  outline: none; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden; }

/* ╨│╨╛╤А╨╕╨╖╨╛╨╜╤В╨░╨╗╤М╨╜╤Л╨╣ ╤Б╨╗╨░╨╣╨┤╨╡╤А (╤Б╨░╨╝╨░ ╨┐╨╛╨╗╨╛╤Б╨░ ╨┐╨╛ ╨║╨╛╤В╨╛╤А╨╛╨╣ ╨▒╨╡╨│╨░╨╡╤В ╨┐╨╛╨╗╨╖╤Г╨╜╨╛╨║) */
.ui-slider-horizontal {
  height: 3px;
  /* ╨╖╨░╨┤╨░╨╡╨╝ ╨▓╤Л╤Б╨╛╤В╤Г ╤Б╨╛╨│╨╗╨░╤Б╨╜╨╛ ╨┤╨╕╨╖╨░╨╣╨╜╨░ */ }

/* ╨┐╨╛╨╖╨╕╤Ж╨╕╨╛╨╜╨╕╤А╤Г╨╡╨╝ ╨┐╨╛╨╗╨╖╤Г╨╜╨║╨╕ */
.ui-slider-horizontal .ui-slider-handle {
  top: 1px;
  margin-left: -6px; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

/* ╨╛╤Д╨╛╤А╨╝╨╗╨╡╨╜╨╕╨╡ ╨┐╨╛╨╗╨╛╤Б╤Л ╨┐╨╛ ╨║╨╛╤В╨╛╤А╨╛╨╣ ╤Е╨╛╨┤╨╕╤В ╨┐╨╛╨╗╨╖╤Г╨╜╨╛╨║ */
.ui-widget-content {
  border: 1px solid #25cc57;
  background: #fff; }

/* ╨╛╤Д╨╛╤А╨╝╨╗╨╡╨╜╨╕╨╡ ╨░╨║╤В╨╕╨▓╨╜╨╛╨│╨╛ ╤Г╤З╨░╤Б╤В╨║╨░ (╨╝╨╡╨╢╨┤╤Г ╨┤╨▓╤Г╨╝╤П ╨┐╨╛╨╗╨╖╤Г╨╜╨║╨░╨╝╨╕) */
.ui-widget-header {
  border: 1px solid #25cc57;
  background: #25cc57; }

/* ╤Б╨║╤А╤Г╨│╨╗╨╡╨╜╨╕╨╡ ╨┤╨╗╤П ╨┐╨╛╨╗╨╛╤Б╤Л ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░ */
.ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

@media only screen and (min-width: 992px) {
  .db-sidebar4-imgbox1 {
    padding: 0px 40px; }

  .db-sidebar4-imgbox2 {
    padding: 0px 55px; } }

/*# sourceMappingURL=style2.css.map */
