
// .dd-header-wrapper, .dd-header{
// 	position:fixed;
// }
.dd-header-wrapper{
	//outline:1px solid red;
	background:#fff;
	//position:fixed;
	//height:200px;
	padding-bottom:12px;
	.dd-line{
		background: url(../img/dd-line.png) no-repeat center;
		height: 4px;
		width: 100%;
		background-size:cover;
		box-shadow: 0 0 22px 1px;
	}
	.dd-logo-wrap{
		padding-top:33px;
		margin:0 auto;
		width: 236px;
		//max-height: 106px;
		// outline: 1px solid red;
		.dd-logo-img{
			float: left;
			height: 73px;
			//outline: 1px solid black;
		}
		.dd-logo-txt{
			float: left;
			//outline: 1px solid red;
			padding-left:12px;
			span{
				text-transform: uppercase;
				font-family: "ArialNarrow";
				font-size: 15px;
				display: block;
				letter-spacing: 8px;
			}
			span:first-child{
				color:#00CA48;
			}
			span:last-child{
				color:#262E45;
			}
			.dd-slogan-txt{	
				padding-top: 5px;
				font-family: "OpenSans-LightOpenSans-Light";
				color:#AAAAAA;
				font-size: 12px;
			}
		}
	}
	.dd-phone-wrap{
		//outline: 1px solid black;
		.dd-phone{
			padding-top:33px;
			text-align: center;
			.dd-cont{
				padding-bottom:5px;
			}
			span{
				display: block;
			}
			span:nth-child(1){
				font-family: "OpenSans-LightOpenSans-Light";
				color:#AAAAAA;
				font-size: 11px;
			}
			.dd-numbers{
				font-size: 17px;
				font-family: "OpenSans-LightOpenSans-Light";
				color:#4B5763;
				span{
					display: inline-block;
					font-size: 17px;
					font-family: "OpenSans-Semibold";
					color:#262E45;
				}
			}
		}
		.dd-header-button-wrap{
			margin-top:16px;
			text-align: center;
			.dd-header-button{
				position: relative;
				display: inline-block;
				background:#00CF4D;
				padding: 6px 15px 6px 34px;
				border-radius: 4px;
				border-bottom:3px solid #00B334;
				font-family: "Conv_MyriadPro-Regular";
				color:#fff;
				font-size: 14px;
			}
			.dd-header-button:hover{
				background:#10DF5D;
			}
			.dd-header-button:after{
				content:"";
				position:absolute;
				background:url(../img/dd-tel.png) no-repeat center;
				width: 16px;
				height: 16px;
				left: 10px;
			}
		}	
	}
	.dd-time-wrap{
		padding-top:33px;
		// outline: 1px solid green;
		position:relative;
		//width: 159px;
		.dd-time{
			position:relative;
			width: 186px;
			height: 54px;
			//outline: 1px solid green;
			padding-left:34px;
			margin: 0 auto; 
			.dd-time-element:first-child{
				font-size: 11px;
				font-family: "OpenSans-LightOpenSans-Light";
				color:#4B5763;
			}
			.dd-time-element:nth-child(2){
				font-size: 20px;
				font-family: "OpenSans-Semibold";
				color: #262E45;
			}
			.dd-time-element:nth-child(3){
				font-size: 13px;
				font-family: "OpenSans-LightOpenSans-Light";
				color:#4B5763;
			}
		}
		.dd-time:after{
			content:"";
			position:absolute;
			background:url(../img/dd-watch.png) no-repeat center;
			width: 24px;
			height: 24px;
			left: 0;
			top: 22px;
		}	
	}
	.dd-korzina-wrap{
		padding-top:33px;
		.dd-korzina-element{
			margin:0 auto;
			position:relative;
			padding-left:67px;
			padding-top:12px;
			width: 168px;
			height: 60px;
			border:1px solid #00C545;
			border-radius:5px;
			.dd-elipse{
				position:absolute;
				background:#00D24F;
				width: 20px;
				height: 20px;
				text-align: center;
				border-radius:10px;
				font-family: "OpenSans-Bold";
				font-size: 14px;
				color: #fff;
				left: 27px;
				top: 15px;
				z-index: 150;
			}
			.dd-korzina-txt{
				font-size: 13px;
				font-family: "OpenSans-LightOpenSans-Light";
				color:#4B5763;
			}
			.dd-price{
				text-align: center;
				span{
					font-family: "MicrosoftSansSerif";
					color:#262E45;
					font-size: 19px;
				}
				.dd-ex-price{
					span{
						font-size: 13px;
						font-family: "OpenSans-LightOpenSans-Light";
					}
				}
			}
		}
		.dd-korzina-element:after{
			content:"";
			position:absolute;
			background:url(../img/dd-korz.png) no-repeat center;
			width: 27px;
			height: 23px;
			left:15px;
			top: 19px;
		}
	}
}
.dd-header-wrapper-scrol{
	//height:54px;

}
/*============= menu ===============*/

/*menu Анзара*/

    #check_1{
        display: none;
        position: fixed;
        top: 25px;
        right: 25px;
        font-size: 50px; 
    }
    .anz-perspective{
        position: fixed;
        top: 0px;
        height: 100%;
        -webkit-perspective: 500px; 
        perspective: 500px;
        z-index: 150;
    }
    .menu-list-pressed{
        
    }
    #check_1:checked ~ .anz-perspective{
        transition: all 1s ease-in-out;
        left: 0px;
    }
    #check_1 ~ .anz-perspective{
        transition: all 1s ease-in-out;
        left: -330px;
    }
    #check_1:checked ~ .anz-perspective .menu-list-pressed{
        transition: all 1s ease-in-out;
        transform: rotateY(0deg);
    }
    #check_1 ~ .anz-perspective .menu-list-pressed{
        transition: all 1s ease-in-out;
        transform: rotateY(90deg);
    }
    .anz-menu-ch{
        cursor: pointer;    
    }

/*конец menu Анзара*/

/*menu styles*/
.anz-menu{
    text-align: right;
    .dd-mainmenu{
		li{
			display: block;
			a{
				font-family: "OpenSans-Semibold";
				font-size:12px;
				text-transform: uppercase;
				color:#363636;
				position: relative;
				color:#fff;
			}
		    a:before{
		        position: absolute;
		        top: -2px;
		        left: 0px;
		        content: '';
		        width: 0%;
		        height: 3px;
		        background: #00CD4A;
		        transition: width 0.5s ease-in-out;
		    }
		    a:hover:before{
		        width: 100%;
		    }
		}
	}
}

.menu-list-pressed{
    border: 1px solid #000;
    width: 228px;
    height: 100%;
    padding: 30px;
    line-height: 40px;
    background: #262E45;
    text-align: left;
}
.anz-menu-ch{
    display: inline-block;
    width: 41px;
    height: 43px;
    font-size: 30px;
    position: fixed;
    top: 8px;
    right:12px;
    //opacity: 0.4;
    z-index: 9999;
}
.anz-menu-ch:hover{
    opacity: 0.6;
}
.main-menu{
    text-align: left;
}
.anz-menu-ch1{
    display: inline-block;
    width: 41px;
    height: 43px;
    font-size: 30px;
    position: fixed;
    top: 0px;
    right:-8px;
    color:#00CD4A;
    //opacity: 0.4;
    cursor: pointer;
}
.anz-menu-ch1:hover{
    opacity: 0.6;
}

/*menu styles*/

.dd-header{
	background:#262E45;
	margin-top:5px;
	// display:block;
	//position:fixed;
	height:39px;
	//overflow:hidden;
	z-index:50;
	width:100%;
	.dd-nav-wrap{
		.dd-nav{
			.dd-mainmenu{
				li{
					display: inline-block;
					a{
						font-family: "OpenSans-Semibold";
						text-transform: uppercase;
						font-size:12px;
						color:#363636;
						color:#fff;
						display: inline-block;
						padding: 9px 34px;
						//outline: 1px solid red;
					}
					a:hover{
						background:#00CD4A;
						border-bottom:4px solid #00B334;
					}
				}
			}
		}
	}	
}





/*==================================*/

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {

	.dd-header-wrapper{
		.dd-phone-wrap{
			float: left;
			width: 321px;
			height: 56px;
			.dd-phone{
				float: left;
				padding-top:27px;
				text-align: left;
				padding-left:10px;
			}
			.dd-header-button-wrap{
				float: left;
				padding-top:35px;
				.dd-header-button{

					margin-left: 14px;
				}
			}
		}
		.dd-time-wrap{
			float: left;
			width: 160px;
			//width: 188px;
			height: 63px;
			margin-left: 25px;
			padding-left: 6px;
		    padding-top: 28px;
		    //outline: 1px solid red;
			.dd-time{
				float: left;
			}
		}
		.dd-korzina-wrap{
			float: left;
			padding-left: 23px;
		    padding-top: 31px;
		}			
	}
}

@media only screen and (min-width : 1248px) {

	.dd-header-wrapper{
		.dd-time-wrap{
			width: 188px;
		}
	}	
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    // outline: 1px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}