.col-md-3 {
  margin: 0 !important;
  padding: 0 !important; }

.df-bg {
  display: none;
  background: #2d3246;
  height: 55px;
  width: 100%;
  z-index: 500; }
  .df-bg .df-logotip {
    padding: 10px 0 10px 0px; }
    .df-bg .df-logotip .df-img-logo {
      float: left;
      margin-left: 41px; }
      .df-bg .df-logotip .df-img-logo .df-img-wrap {
        float: left; }
      .df-bg .df-logotip .df-img-logo .dfimgtext {
        float: left;
        padding-left: 12px; }
        .df-bg .df-logotip .df-img-logo .dfimgtext span {
          text-transform: uppercase;
          font-family: "ArialNarrow";
          font-size: 15px;
          display: block;
          letter-spacing: 8px;
          color: #fff;
          font-weight: bold; }
        .df-bg .df-logotip .df-img-logo .dfimgtext span:first-child {
          color: #00CA48; }
  .df-bg .df-numbers {
    padding-top: 5px;
    margin-left: 14px;
    float: left; }
    .df-bg .df-numbers span {
      float: left;
      color: #e3e4e6;
      font-size: 17px;
      font-family: "OpenSans-LightOpenSans-Light";
      margin-left: 23px; }
      .df-bg .df-numbers span em {
        font-family: "OpenSans-Semibold"; }
  .df-bg .df-button-buy {
    float: right;
    margin-right: 65px; }
    .df-bg .df-button-buy a {
      display: inline-block;
      background-color: #00CF4D;
      padding: 6px 15px 6px 34px;
      border-radius: 4px;
      border-bottom: 3px solid #00B334;
      font-family: "Conv_MyriadPro-Regular";
      color: #fff;
      font-size: 14px;
      position: relative; }
    .df-bg .df-button-buy a:after {
      content: "";
      position: absolute;
      background: url(../img/dd-tel.png) no-repeat center;
      width: 16px;
      height: 16px;
      left: 10px; }
  .df-bg .df-basket {
    width: 138px;
    height: 33px;
    border: 1px solid #00CF4D;
    border-radius: 5px;
    float: right;
    text-align: right;
    padding: 3px 5px 3px 15px;
    position: relative; }
    .df-bg .df-basket .df-ellips {
      border-radius: 50px;
      width: 20px;
      height: 20px;
      background: #00CF4D;
      color: #fff;
      display: inline-block;
      text-align: center;
      position: absolute;
      top: -5px;
      left: 27px; }
    .df-bg .df-basket .df-pricebasket {
      display: inline-block;
      font-family: "OpenSans-Semibold";
      font-size: 19px;
      color: #fff;
      background: url(../img/dd-korz2.png) no-repeat;
      padding-left: 45px; }
      .df-bg .df-basket .df-pricebasket em {
        font-family: "OpenSans-LightOpenSans-Light"; }

.clear {
  clear: both; }

.df-new-4boxs {
  text-align: center; }

#df-margintop {
  margin-top: 15px; }

.df-top-caption {
  max-width: 715px;
  margin: 0 auto;
  padding: 0 3px;
  margin-bottom: 5px; }
  .df-top-caption .df-caption-popular {
    display: inline-block;
    font-size: 21px;
    color: #2d3246;
    text-transform: uppercase;
    font-family: "ArialNarrow";
    padding: 0px 9px 10px 0px; }
  .df-top-caption .df-look-all {
    display: inline-block;
    font-family: "OpenSans-LightOpenSans-Light";
    color: #5c6d7d;
    font-size: 13px;
    padding: 7px 12px;
    background: #fff;
    border: 1px solid #ebedef;
    border-radius: 5px; }

.df-new {
  display: inline-block;
  margin: 0 2.5px;
  margin-bottom: 30px;
  text-align: center; }
  .df-new .df-new-box .df-bg-new {
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ebedef;
    width: 171px;
    padding: 0 5px;
    padding-bottom: 11px;
    position: relative; }
    .df-new .df-new-box .df-bg-new .df-name-product {
      display: block;
      padding: 7px; }
      .df-new .df-new-box .df-bg-new .df-name-product .df-img {
        height: 115px;
        width: 160px;
        margin-top: 12px; }
        .df-new .df-new-box .df-bg-new .df-name-product .df-img img {
          margin: 0 auto;
          display: inline-block; }
        .df-new .df-new-box .df-bg-new .df-name-product .df-img .df-new-hit, .df-new .df-new-box .df-bg-new .df-name-product .df-img .hit-red {
          font-family: "OpenSans-Bold";
          font-size: 13px;
          border: 1px solid #23c954;
          border-radius: 5px;
          color: #23c954;
          text-transform: uppercase;
          padding: 5px 7px;
          position: absolute;
          top: 11px;
          left: 8px;
          background: rgba(255, 255, 255, 0.5); }
        .df-new .df-new-box .df-bg-new .df-name-product .df-img .hit-red {
          color: #da2d26;
          border: 1px solid #da2d26; }
      .df-new .df-new-box .df-bg-new .df-name-product .df-title {
        color: #4278ca;
        font-family: "OpenSans-Regular";
        font-size: 13px;
        line-height: 18px;
        overflow: hidden;
        border-bottom: 1px solid #4278ca;
        transition: color 0.5s, border 0.5s ease 0s; }
      .df-new .df-new-box .df-bg-new .df-name-product .df-title:hover {
        color: #25cc56;
        border-bottom: 1px solid #25cc56; }
    .df-new .df-new-box .df-bg-new .df-status-product {
      font-size: 12px;
      color: #929ca6;
      margin: 0px 5px 3px 5px;
      padding: 0px 10px;
      font-family: "OpenSans-Regular"; }
      .df-new .df-new-box .df-bg-new .df-status-product img {
        width: 8px;
        height: 6px; }
    .df-new .df-new-box .df-bg-new .df-price {
      text-align: center;
      color: #2d3246;
      font-family: "OpenSans-Regular";
      padding: 14px 0px 12px 0px;
      font-size: 19px;
      font-weight: bold; }
      .df-new .df-new-box .df-bg-new .df-price em {
        text-decoration: line-through;
        color: #a1a9b2;
        font-size: 13.5px;
        padding-right: 11px;
        font-family: "OpenSans-LightOpenSans-Light"; }
        .df-new .df-new-box .df-bg-new .df-price em b {
          font-size: 9.26px; }
      .df-new .df-new-box .df-bg-new .df-price b {
        font-weight: normal;
        font-size: 13px;
        font-family: "OpenSans-LightOpenSans-Light"; }
    .df-new .df-new-box .df-bg-new .df-buy-product {
      width: 155px;
      height: 33px;
      background: #23c954;
      border-radius: 3px;
      padding: 5px;
      border-bottom: 3px solid  #14b242;
      border-radius: 3px;
      font-family: "OpenSans-Regular";
      font-size: 14px;
      margin-bottom: 4px;
      transition: background 0.5s, border 0.5s; }
      .df-new .df-new-box .df-bg-new .df-buy-product .df-number {
        text-align: center;
        background: #14b242;
        border-radius: 3px;
        display: inline-block;
        width: 60px;
        height: 22px;
        color: #fff;
        transition: background 0.5s; }
        .df-new .df-new-box .df-bg-new .df-buy-product .df-number a {
          color: #fff;
          padding: 0 px; }
      .df-new .df-new-box .df-bg-new .df-buy-product .df-buy a {
        background: url(/img/basket.png) center right no-repeat;
        width: 70px;
        padding-right: 25px;
        padding-left: 5px;
        color: #fff; }
    .df-new .df-new-box .df-bg-new .df-buy-product:hover {
      background: #da2d26;
      border-bottom: 3px solid #cd1e1a; }
      .df-new .df-new-box .df-bg-new .df-buy-product:hover .df-number {
        background: #bc130f; }
    .df-new .df-new-box .df-bg-new .df-buy1click {
      text-align: center;
      font-family: "OpenSans-LightOpenSans-Light"; }
      .df-new .df-new-box .df-bg-new .df-buy1click a {
        text-align: center;
        font-size: 12px;
        font-family: "OpenSans-Regular";
        color: #26ce58;
        border-bottom: 1px dashed #26ce58;
        transition: color 0.5s, border 0.5s; }
    .df-new .df-new-box .df-bg-new .df-buy1click a:hover {
      color: #da2d26;
      border-bottom: 1px dashed #da2d26; }

@media only screen and (min-width: 768px) {
  .df-top-caption {
    margin-top: 40px; }
    .df-top-caption .df-caption-popular {
      float: left;
      padding: 0; }
    .df-top-caption .df-look-all {
      float: right; } }

/*# sourceMappingURL=style5.css.map */
