@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";

h3{
    display: block;
    font-family: "ArialNarrow";
    color: #2d3246;
    font-size: 21px;
    line-height: 17px;
    text-transform: uppercase;
}
    // .db-hov{
    //     background-color: #27cf59;
    //     color: #fff;
    //     text-decoration: none !important;
    //     background-image: linear-gradient(180deg, #28d15a 0%, #28d15a 2%, #1fc350 89%, #14b242 89%, #14b242 100%);
    //     box-shadow: 0 0 16px rgba(40, 209, 90, 0.11);
    // }

// materials********************
.db-materials{
    width: 100%;
    background-color: #fff !important;
    border: 1px solid #ebedef;
    border-radius: 3px;
    padding: 22px 50px; 
}
.db-materials-box1, .db-materials-box2, .db-materials-box3{
    display: inline-block;
    // float: left;
    width: 32.3%;
}
.db-materials-list{
    li{
        position: relative;
        display: block;
        margin-bottom: 15px;
        a{
            font-family: "OpenSans-LightOpenSans-Light";
            color: #2d3246;
            font-size: 13px;
            line-height: 26px;
            text-decoration: underline;
            padding-left: 20px;
        }
        a:hover{
            color: #14b242;
        }
    }
    li:last-child{
        margin-bottom: 0px;
    }
    li:before{
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        top: 10px;
        left: 0px;
        background: url(../img/db-side_marker.png) center center no-repeat;
    }
}




// materials********************

.db-sidebar{
    margin-bottom: 13px;
    background: #fff !important;
}
.ah-submenu-list{
    input[type="text"]{
        width: 95px;
        height: 32px;
        background-color: #fff;
        border: 1px solid #ebedef;
        border-radius: 2px;
        color: #2d3246;
        font-family: "MicrosoftSansSerif";
        font-size: 19px;
        line-height: 35px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        box-sizing: border-box;
        text-align: center;
        outline: none;
    }
    .ah-submenu-span, .ah-submenu-span1{
        width: 100%;
        height: 22px;
        display: inline-block;
        padding: 3px;
        background: #fafbfd;
    }
    .ah-submenu-span{
        margin-bottom: 3px;
    }
    .ah-submenu-span:hover, .ah-submenu-span1:hover{
        background: #e5f7ea;
        transition:background 0.3s, border 0.3s;
        .ah-check1, .ah-check2, .ah-check3, .ah-check4,
        .ah-check5, .ah-check6, .ah-check7, .ah-check8,{
            font-family: "OpenSans-Semibold";
            color: #2d3246 !important;
        }
    }
    label{
        display: block;
        background: url(../img/db-check0.jpg) center center no-repeat;
        width: 14px;
        height: 14px;
        font-family: "OpenSans-LightOpenSans-Light";
        font-size: 13px;
        // line-height: 25px;
        color: #505863;
        padding-left: 23px;
        cursor: pointer;
    }
    input[type="checkbox"]{
        display: none;
    }
    .ah-check1, .ah-check2, .ah-check3, .ah-check4,
    .ah-check5, .ah-check6, .ah-check7, .ah-check8,{
        // display: block;
        // margin-bottom: 20px;
    }
    .check1:checked ~ .ah-check1{
        background: url(../img/db-check1.jpg) center center no-repeat;
    }
     .check2:checked ~ .ah-check2{
        background: url(../img/db-check1.jpg) center center no-repeat;
    }
     .check3:checked ~ .ah-check3{
        background: url(../img/db-check1.jpg) center center no-repeat;
    }
     .check4:checked ~ .ah-check4{
        background: url(../img/db-check1.jpg) center center no-repeat;
    }
     .check5:checked ~ .ah-check5{
        background: url(../img/db-check1.jpg) center center no-repeat;
    }
     .check6:checked ~ .ah-check6{
        background: url(../img/db-check1.jpg) center center no-repeat;
    }
     .check7:checked ~ .ah-check7{
        background: url(../img/db-check1.jpg) center center no-repeat;
    }
     .check8:checked ~ .ah-check8{
        background: url(../img/db-check1.jpg) center center no-repeat;
    }
    .db-input-li{
        display: inline-block;
        margin-right: 38px;
    }
    .db-input-li1{
        display: inline-block;
    }
}
.ah-submenu-fon{
    background-color: #fafbfd;
}
.ah-submenu-left, .ah-submenu-right{
    display: inline-block;
    width: 45%;
}
.ah-submenu-left{
    padding: 14px 0px 14px 10px;
}
.ah-submenu-right{
    // margin-left: 8%;
    padding: 14px 0px 14px 23px;
}
.ah-submenu-list1{
    text-align: center !important;
    // margin: 18px 0px;
    padding: 18px 0px;
    background-color: #fafbfd;
}
.db-h3{
    margin-top: 31px;
    margin-bottom: 34px;
}
.db-h31{
    margin-top: 21px;
    margin-bottom: 14px;
    font-family: "OpenSans-Regular";
    font-size: 18px;
    color:#2d3246;
}
.db-padd{
    position: relative;
    padding-left: 61px;
    text-align: left;
}
.db-padd:before{
    position: absolute;
    content: "";
    width: 22px;
    height: 16px;
    top: -1px;
    left: 21px;
    background: url(../img/db-side_top.png) center center no-repeat;
}
// .db-padd1{
//     padding-left: 10px;
// }
.db-sidebar4-imgbox2{
    padding: 0px 10px;
}
.db-sidebar4-spantop{
    display: block;
    font-family: "ArialNarrow";
    color: #2d3246;
    font-size: 21px;
    line-height: 23px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 65px;
    text-align: center;
}
.db-sidebar4-linktop{
    display: block;
    width: 100%;
    height: 32px;
    background-color: #fbdf5a;
    border-radius: 3px;
    color: #fff;
    font-family: "MyriadPro-Bold";
    font-size: 14px;
    line-height: 30px;
    text-align: center;    
    border: none;
    margin-top: 65px;
    margin-bottom: 33px; 
}
.db-sidebar4-linktop:hover{
    background: darken(#fbdf5a, 10%);
}
.db-sidebar4-div1{
    display: table-cell;
    width: 63%;
    vertical-align: top;
}
.db-sidebar4-div2{
    display: table-cell;
    width: 40%;
    vertical-align: top;
    // padding: 0px 15px;
    text-align: center;
}
.db-sidebar4-imgbox{
	margin-top: 5px;
}
.db-sidebar4{
    display: table;
    width: 100%;
    border: 1px solid #ebedef;
    border-radius: 3px;
    padding: 0px 0px 16px 25px;
    margin-bottom: 13px;
    background: #fff !important; 
}
.db-sidebar4-link{
    display: block;
    color: #4278ca;
    font-family: "OpenSans-Regular";
    font-size: 13px;
    line-height: 18px;
    text-decoration: underline;
    margin-top: 6px;
    margin-left: 17px;
    transition: color 0.5s;
}
.db-sidebar4-link:hover{
    color:#25cc56;
}
.db-sidebar4-link1{
    position: relative;
    display: inline-block;
    color: #26ce58;
    font-family: "OpenSans-Regular";
    font-size: 12px;
    line-height: 18px;
    margin-left: 17px;
    margin-top: 9px;
    border-bottom: 1px dashed #26ce58;
    transition: color 0.5s, border 0.5s;
}
.db-sidebar4-link1:hover{
    color:#da2d26;
    border-bottom: 1px dashed #da2d26;
}

.db-sidebar4-span{
    position: relative;
    display: block;
    color: #929ca6;
    font-family: "OpenSans-Regular";
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 12px; 
}
.db-sidebar4-span:before{
    position: absolute;
    content: "";
    width: 10px;
    height: 8px;
    top: 5px;
    left: 1px;
    background: url(../img/db-side_arr.png) center center no-repeat;
}
.db-sidebar4-span1{
    display: block;
    color: #a1a9b2;
    font-family: "OpenSans-LightOpenSans-Light";
    font-size: 14px;
    line-height: 25px;
    text-decoration: line-through;
}
.db-sidebar4-span2{
    display: block;
    font-family: "MicrosoftSansSerif";
	color: #2d3246;
	font-size: 19px;
	line-height: 20px;
    margin-bottom: 40px;
}
.db-sidebar4-span22{
    margin-bottom: 43px !important;
}
.db-wrapdiv{
    width: 87px;//100%;
    // height: 56px;
    background-color: #28d15a;
    background-image: linear-gradient(180deg, #28d15a 0%, #28d15a 2%, #1fc350 94%, #14b242 94%, #14b242 100%);
    border-radius: 3px;
    padding: 5px;
    //transition:background 0.5s, background-image 0.5s;
}
.db-wrapdiv:hover{
    background: #da2d26 !important;
    background-image: linear-gradient(180deg, #da2d26 0%, #da2d26 2%, #da2d26 91%, #cd1e1a 91%, #cd1e1a 100%);
   .db-wrapdiv-list{
    background: #a80905;    
    .df-number{
        background:#a80905;    
        input{
            background: #a80905;    
        }
    }
}
}
.db-wrapdiv-list{
    display: block;
    padding: 3px;
    background-color: #14b242;
    border-radius: 2px;    
    
    span{
        color:#fff;
        padding: 0 1px;
        cursor: pointer;
        vertical-align: top;
        font-family: "OpenSans-Regular";
        font-size: 14px;            
    }
    input{
        background: #14b242;
        outline: none;
        font-size: 13px;    
        border:none;
        width: 20px;
        text-align: center;
        font-family: "OpenSans-Regular";        
        margin: 0 5px;                             
    }     
}
.db-sidebar4-span3{
    position: relative;
    display: block;
    color: white;
    font-family: "MyriadPro-Regular";
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    margin-left: 7px;
}
.db-sidebar4-span3:before{
    position: absolute;
    content: "";
    width: 15px;
    height: 13px;
    top: 4px;
    right: 5px;
    background: url(../img/db-side_kor.png) center center no-repeat;
}
// **********************************************
.db-paddleft{
    padding-left: 50px !important;
}
.ah-font1 {
    position: relative;
	color: #2d3246 !important;
	font-family: "OpenSans-Semibold" !important;
	font-size: 13px !important;
	// line-height: 42px;
}
.ah-font1:before{
    position: absolute;
    content: "";
    height: 6px;
    width: 10px;
    bottom: 18px;
    right: calc(0% - -9%);
    background: url(../img/db-side-arr-gr.png) center center no-repeat;
}
.ah-font2:before{
    position: absolute;
    content: "";
    height: 6px;
    width: 10px;
    bottom: 18px;
    right: calc(0% - -9%);
    background: url(../img/db-side-arr-top.png) center center no-repeat;
}
.ah-menu-list {
    display: block;
    border: 1px solid #24cb56;
    border-radius: 3px;
    text-align: center;
    li{
        text-align: left;
    }
    .ah-menu-list_item{
    	position: relative;
    	display: block;
        margin-bottom: 1px;
        font-size: 0px;
    	// border-top: 1px solid #f0f3f8;
    	.ah-menu-list_item-link{
		    display: inline-block;
    		width: 100%;
    		font-family: "OpenSans-LightOpenSans-Light";
			font-size: 13px;
			line-height: 22px;
			cursor: pointer;
			color: #5c6d7d;
			padding: 11px 0px 9px 40px;
			text-decoration: none !important;
    	}
        .ah-menu-list_item-link1{
            display: inline-block;
            width: 100%;
            font-family: "OpenSans-LightOpenSans-Light";
            font-size: 13px;
            line-height: 22px;
            cursor: pointer;
            color: #5c6d7d;
            padding: 11px 0px 9px 26px;
            text-decoration: none !important;
        }
    	.ah-menu-list_item-link:hover{
    		background-color: #27cf59;
    		color: #fff;
    		text-decoration: none !important;
    		background-image: linear-gradient(180deg, #28d15a 0%, #28d15a 2%, #1fc350 89%, #14b242 89%, #14b242 100%);
    		box-shadow: 0 0 16px rgba(40, 209, 90, 0.11);
    	}
        .db-hov{
            background-color: #27cf59;
            color: #fff;
            text-decoration: none !important;
            background-image: linear-gradient(180deg, #28d15a 0%, #28d15a 2%, #1fc350 89%, #14b242 89%, #14b242 100%);
            box-shadow: 0 0 16px rgba(40, 209, 90, 0.11);
        }
    	.ah-submenu-list{
            // position: relative;
			display: none;
			width: 100%;
			.ah-submenu-list_item{
				position: relative;
                display: block;
				// border-bottom: 1px solid #f0f3f8;
				background: url(../img/db-side_marker.png) calc(0% + 22px) center no-repeat;
				.ah-submenu-list_item-link{
					font-family: "OpenSans-LightOpenSans-Light";
					font-size: 13px;
					line-height: 42px;
					color: #2d3246;
					text-decoration: underline;
					padding: 15px 0px 15px 50px;
				}
				.ah-submenu-list_item-link:hover{
					color: #14b242;
					text-decoration: underline;
					background-color: none !important;
				}
			}
            .ah-submenu-list_item:before{
                position: absolute;
                content: "";
                width: calc(100% - 19px);
                height: 1px;
                bottom: -1px;
                left: 7px;
                background: #f0f3f8;
            }
            li.ah-submenu-list_item:last-child{
                margin-bottom: 0px;
            }
            // li.ah-submenu-list_item:last-child:before{
            //     display: none;
            // }
		}
    }
    .ah-menu-list_item:after{
        position: absolute;
        content: "";
        width: calc(100% - 19px);
        height: 1px;
        top: 42px;
        left: 7px;
        background: #f0f3f8;
    }
    li.ah-menu-list_item:last-child{
        margin-bottom: 0px;
    }
    li.ah-menu-list_item:last-child:after{
        display: none;
    }
}
.db-item1, .db-item2, .db-item3, .db-item4, .db-item5, .db-item6, .db-item7,
.db-item8, .db-item9, .db-item10, .db-item11, .db-item12, .db-item13, .db-item14,
.db-item15, .db-item16, .db-item17, .db-item18, .db-item19, .db-item20,
.db-item21, .db-item22, .db-item23{
    position: relative;

}
.db-item1:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side1.png) center center no-repeat;
}
.db-item1.db-hov:before, .db-item1:hover:before{
    background: url(../img/db-side1w.png) center center no-repeat;
}
.db-item2:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side2.png) center center no-repeat;
}
.db-item2.db-hov:before, .db-item2:hover:before{
    background: url(../img/db-side2w.png) center center no-repeat;
}
.db-item3:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side3.png) center center no-repeat;
}
.db-item3.db-hov:before, .db-item3:hover:before{
    background: url(../img/db-side3w.png) center center no-repeat;
}
.db-item4:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side4.png) center center no-repeat;
}
.db-item4.db-hov:before, .db-item4:hover:before{
    background: url(../img/db-side4w.png) center center no-repeat;
}
.db-item5:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side5.png) center center no-repeat;
}
.db-item5.db-hov:before, .db-item5:hover:before{
    background: url(../img/db-side5w.png) center center no-repeat;
}
.db-item6:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side6.png) center center no-repeat;
}
.db-item6.db-hov:before, .db-item6:hover:before{
    background: url(../img/db-side6w.png) center center no-repeat;
}
.db-item7:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side7.png) center center no-repeat;
}
.db-item7.db-hov:before, .db-item7:hover:before{
    background: url(../img/db-side7w.png) center center no-repeat;
}
.db-item8:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side8.png) center center no-repeat;
}
.db-item8.db-hov:before, .db-item8:hover:before{
    background: url(../img/db-side8w.png) center center no-repeat;
}
.db-item9:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side9.png) center center no-repeat;
}
.db-item9.db-hov:before, .db-item9:hover:before{
    background: url(../img/db-side9w.png) center center no-repeat;
}
.db-item10:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side10.png) center center no-repeat;
}
.db-item10.db-hov:before, .db-item10:hover:before{
    background: url(../img/db-side10w.png) center center no-repeat;
}
.db-item11:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side11.png) center center no-repeat;
}
.db-item11.db-hov:before, .db-item11:hover:before{
    background: url(../img/db-side11w.png) center center no-repeat;
}
.db-item12:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side12.png) center center no-repeat;
}
.db-item12.db-hov:before, .db-item12:hover:before{
    background: url(../img/db-side12w.png) center center no-repeat;
}
.db-item13:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side13.png) center center no-repeat;
}
.db-item13.db-hov:before, .db-item13:hover:before{
    background: url(../img/db-side13w.png) center center no-repeat;
}
.db-item14:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side14.png) center center no-repeat;
}
.db-item14.db-hov:before, .db-item14:hover:before{
    background: url(../img/db-side14w.png) center center no-repeat;
}
.db-item15:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side15.png) center center no-repeat;
}
.db-item15.db-hov:before, .db-item15:hover:before{
    background: url(../img/db-side15w.png) center center no-repeat;
}
.db-item16:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side16.png) center center no-repeat;
}
.db-item16.db-hov:before, .db-item16:hover:before{
    background: url(../img/db-side16w.png) center center no-repeat;
}
.db-item17:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side17.png) center center no-repeat;
}
.db-item17.db-hov:before, .db-item17:hover:before{
    background: url(../img/db-side17w.png) center center no-repeat;
}
.db-item18:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side18.png) center center no-repeat;
}
.db-item18.db-hov:before, .db-item18:hover:before{
    background: url(../img/db-side18w.png) center center no-repeat;
}
.db-item19:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side19.png) center center no-repeat;
}
.db-item19.db-hov:before, .db-item19:hover:before{
    background: url(../img/db-side19w.png) center center no-repeat;
}
.db-item20:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side20.png) center center no-repeat;
}
.db-item20.db-hov:before, .db-item20:hover:before{
    background: url(../img/db-side20w.png) center center no-repeat;
}
.db-item21:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side21.png) center center no-repeat;
}
.db-item21.db-hov:before, .db-item21:hover:before{
    background: url(../img/db-side21w.png) center center no-repeat;
}
.db-item22:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side22.png) center center no-repeat;
}
.db-item22.db-hov:before, .db-item22:hover:before{
    background: url(../img/db-side22w.png) center center no-repeat;
}
.db-item23:before{
    position: absolute;
    content: "";
    width: 49px;
    height: 42px;
    top: 2px;
    left: 0;
    background: url(../img/db-side23.png) center center no-repeat;
}
.db-item23.db-hov:before, .db-item23:hover:before{
    background: url(../img/db-side23w.png) center center no-repeat;
}

// *************************************
// .db-item1:before{
//     position: absolute;
//     content: "";
//     width: 18px;
//     height: 18px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side1.png) center center no-repeat;
// }
// .db-item2:before{
//     position: absolute;
//     content: "";
//     width: 23px;
//     height: 25px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side2.png) center center no-repeat;
// }
// .db-item3:before{
//     position: absolute;
//     content: "";
//     width: 23px;
//     height: 23px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side3.png) center center no-repeat;
// }
// .db-item4:before{
//     position: absolute;
//     content: "";
//     width: 20px;
//     height: 18px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side4.png) center center no-repeat;
// }
// .db-item5:before{
//     position: absolute;
//     content: "";
//     width: 22px;
//     height: 17px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side5.png) center center no-repeat;
// }
// .db-item6:before{
//     position: absolute;
//     content: "";
//     width: 29px;
//     height: 21px;
//     top: 16px;
//     left: 6px;
//     background: url(../img/db-side6.png) center center no-repeat;
// }
// .db-item7:before{
//     position: absolute;
//     content: "";
//     width: 28px;
//     height: 25px;
//     top: 16px;
//     left: 7px;
//     background: url(../img/db-side7.png) center center no-repeat;
// }
// .db-item8:before{
//     position: absolute;
//     content: "";
//     width: 25px;
//     height: 20px;
//     top: 16px;
//     left: 9px;
//     background: url(../img/db-side8.png) center center no-repeat;
// }
// .db-item9:before{
//     position: absolute;
//     content: "";
//     width: 19px;
//     height: 31px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side9.png) center center no-repeat;
// }
// .db-item10:before{
//     position: absolute;
//     content: "";
//     width: 23px;
//     height: 24px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side10.png) center center no-repeat;
// }
// .db-item11:before{
//     position: absolute;
//     content: "";
//     width: 25px;
//     height: 14px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side11.png) center center no-repeat;
// }
// .db-item12:before{
//     position: absolute;
//     content: "";
//     width: 34px;
//     height: 15px;
//     top: 16px;
//     left: 4px;
//     background: url(../img/db-side12.png) center center no-repeat;
// }
// .db-item13:before{
//     position: absolute;
//     content: "";
//     width: 18px;
//     height: 26px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side13.png) center center no-repeat;
// }
// .db-item14:before{
//     position: absolute;
//     content: "";
//     width: 23px;
//     height: 23px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side14.png) center center no-repeat;
// }
// .db-item15:before{
//     position: absolute;
//     content: "";
//     width: 17px;
//     height: 23px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side15.png) center center no-repeat;
// }
// .db-item16:before{
//     position: absolute;
//     content: "";
//     width: 12px;
//     height: 24px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side16.png) center center no-repeat;
// }
// .db-item17:before{
//     position: absolute;
//     content: "";
//     width: 26px;
//     height: 22px;
//     top: 16px;
//     left: 8px;
//     background: url(../img/db-side17.png) center center no-repeat;
// }
// .db-item18:before{
//     position: absolute;
//     content: "";
//     width: 23px;
//     height: 23px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side18.png) center center no-repeat;
// }
// .db-item19:before{
//     position: absolute;
//     content: "";
//     width: 23px;
//     height: 23px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side19.png) center center no-repeat;
// }
// .db-item20:before{
//     position: absolute;
//     content: "";
//     width: 23px;
//     height: 23px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side20.png) center center no-repeat;
// }
// .db-item21:before{
//     position: absolute;
//     content: "";
//     width: 23px;
//     height: 23px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side21.png) center center no-repeat;
// }
// .db-item22:before{
//     position: absolute;
//     content: "";
//     width: 18px;
//     height: 30px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side22.png) center center no-repeat;
// }
// .db-item23:before{
//     position: absolute;
//     content: "";
//     width: 23px;
//     height: 24px;
//     top: 16px;
//     left: 12px;
//     background: url(../img/db-side23.png) center center no-repeat;
// }

// **********************************************************

/* Ширина слайдера */
#slider {
    width: 228px !important;
    margin-top: 18px;
}
/* Контейнер слайдера */
.ui-slider {
    position: relative;
    margin: 0 auto;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 14px;   /* Задаем нужную ширину */
    height: 11px;  /* и высоту */
    // background-color: red;
    background: url(../img/db-pols.png) no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
    cursor: pointer;
    outline: none;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
     height: 3px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle { 
    top: 2px;
    margin-left: -7px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content { 
    // border: 1px solid #25cc57;
    background: #e2e3e4;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header { 
    border: 1px solid #25cc57;
    background: #25cc57;
}
/* скругление для полосы слайдера */
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

// ***********************************************************



@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
    .db-sidebar4-imgbox1{
        // padding: 0px 40px;
    }
    .db-sidebar4-imgbox2{
        padding: 0px 55px;
    }
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    // outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}