.col-md-3 {
  margin: 0 !important;
  padding: 0 !important; }

.df-bg {
  display: none;
  background: #2d3246;
  height: 55px;
  width: 100%;
  z-index: 500; }
  .df-bg .df-logotip {
    padding: 10px 0 10px 0px; }
    .df-bg .df-logotip .df-img-logo {
      float: left;
      margin-left: 33px; }
      .df-bg .df-logotip .df-img-logo .df-img-wrap {
        float: left; }
      .df-bg .df-logotip .df-img-logo .dfimgtext {
        float: left;
        padding-left: 12px; }
        .df-bg .df-logotip .df-img-logo .dfimgtext span {
          text-transform: uppercase;
          font-family: "ArialNarrow";
          font-size: 15px;
          display: block;
          letter-spacing: 8px;
          color: #fff;
          font-weight: bold;
          letter-spacing: 5px; }
        .df-bg .df-logotip .df-img-logo .dfimgtext span:first-child {
          color: #00CA48; }
  .df-bg .df-numbers {
    padding-top: 5px;
    margin-left: 48px;
    float: left; }
    .df-bg .df-numbers span {
      float: left;
      color: #e3e4e6;
      font-size: 17px;
      font-family: "OpenSans-LightOpenSans-Light";
      margin-left: 31px; }
      .df-bg .df-numbers span em {
        font-family: "OpenSans-Semibold"; }
  .df-bg .df-button-buy {
    float: right;
    margin-right: 65px; }
    .df-bg .df-button-buy a {
      display: inline-block;
      background-color: #00CF4D;
      padding: 6px 15px 6px 34px;
      border-radius: 3px;
      border-bottom: 3px solid #00B334;
      font-family: "Conv_MyriadPro-Regular";
      color: #fff;
      font-size: 14px;
      position: relative; }
    .df-bg .df-button-buy a:after {
      content: "";
      position: absolute;
      background: url(../img/dd-tel.png) no-repeat center;
      width: 16px;
      height: 16px;
      left: 10px; }
  .df-bg .df-button-buy a:hover {
    background: #10DF5D; }
  .df-bg .df-basket {
    width: 138px;
    height: 33px;
    border: 1px solid #00CF4D;
    border-radius: 5px;
    float: right;
    text-align: right;
    padding: 2px 9px 3px 15px;
    position: relative;
    margin-right: -4px; }
    .df-bg .df-basket .df-ellips {
      border-radius: 50px;
      width: 20px;
      height: 20px;
      background: #00CF4D;
      color: #fff;
      display: inline-block;
      text-align: center;
      position: absolute;
      top: -5px;
      left: 27px; }
    .df-bg .df-basket .df-pricebasket {
      display: inline-block;
      font-family: "OpenSans-Semibold";
      font-size: 19px;
      color: #fff;
      background: url(../img/dd-korz2.png) no-repeat;
      padding-left: 40px; }
      .df-bg .df-basket .df-pricebasket em {
        font-family: "OpenSans-LightOpenSans-Light"; }

.dfbg {
  background: #fafbfd; }

.clear {
  clear: both; }

.df-new-4boxs {
  text-align: center; }

#df-margintop {
  margin-top: 15px; }

.df-top-caption {
  max-width: 715px;
  margin: 0 auto;
  padding: 0 3px;
  margin-bottom: 5px; }
  .df-top-caption .df-caption-popular {
    display: inline-block;
    font-size: 21px;
    color: #2d3246;
    text-transform: uppercase;
    font-family: "ArialNarrow";
    padding: 0px 9px 10px 0px; }
  .df-top-caption .df-look-all {
    display: inline-block;
    font-family: "OpenSans-LightOpenSans-Light";
    color: #5c6d7d;
    font-size: 13px;
    padding: 7px 12px;
    background: #fff;
    border: 1px solid #ebedef;
    border-radius: 3px; }
  .df-top-caption .df-radiobuttons {
    padding-bottom: 9px;
    float: right; }
    .df-top-caption .df-radiobuttons .df-cap {
      font-size: 16px;
      color: #414143;
      font-family: "OpenSans-Semibold";
      text-transform: uppercase;
      margin: 15px 0 8px 0; }
    .df-top-caption .df-radiobuttons form span {
      font-size: 14px;
      color: #878489;
      font-family: "OpenSans-Regular";
      width: 270px;
      padding-left: 5px; }
    .df-top-caption .df-radiobuttons form label {
      display: inline-block; }
    .df-top-caption .df-radiobuttons form .checkbox {
      display: none; }
    .df-top-caption .df-radiobuttons form .checkbox-custom {
      position: relative;
      width: 15px;
      height: 15px;
      border: 1px solid #cdd1d2;
      background: #fff;
      border-radius: 70px;
      display: inline-block; }
    .df-top-caption .df-radiobuttons form .checkbox-custom {
      display: inline-block; }
    .df-top-caption .df-radiobuttons form .checkbox:checked + .checkbox-custom::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 3px;
      right: 0px;
      bottom: 2px;
      left: 3px;
      border-radius: 70px;
      width: 7px;
      height: 7px;
      background: #21c753; }

.df-new {
  display: inline-block;
  margin-right: 5.9px;
  margin-bottom: 33px;
  text-align: center; }
  .df-new .df-new-box .df-bg-new {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ebedef;
    width: 171px;
    padding: 0 5px;
    padding-bottom: 11px; }
    .df-new .df-new-box .df-bg-new .df-name-product {
      display: block;
      padding: 7px; }
      .df-new .df-new-box .df-bg-new .df-name-product .df-img {
        height: 120px;
        width: 155px;
        position: relative; }
        .df-new .df-new-box .df-bg-new .df-name-product .df-img img {
          margin: 0 auto;
          display: inline-block;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        .df-new .df-new-box .df-bg-new .df-name-product .df-img .df-new-hit, .df-new .df-new-box .df-bg-new .df-name-product .df-img .hit-red {
          font-family: "OpenSans-Bold";
          font-size: 13px;
          border: 1px solid #23c954;
          border-radius: 3px;
          color: #23c954;
          text-transform: uppercase;
          padding: 4px 8px;
          position: absolute;
          top: 5px;
          left: 1px;
          background: rgba(255, 255, 255, 0.5); }
        .df-new .df-new-box .df-bg-new .df-name-product .df-img .hit-red {
          color: #da2d26;
          border: 1px solid #da2d26; }
      .df-new .df-new-box .df-bg-new .df-name-product .df-title {
        color: #4278ca;
        font-family: "OpenSans-Regular";
        font-size: 13px;
        line-height: 18px;
        overflow: hidden;
        border-bottom: 1px solid #4278ca;
        transition: color 0.5s, border 0.5s ease 0s; }
      .df-new .df-new-box .df-bg-new .df-name-product .df-title:hover {
        color: #25cc56;
        border-bottom: 1px solid #25cc56; }
    .df-new .df-new-box .df-bg-new .df-status-product {
      font-size: 12px;
      color: #929ca6;
      margin: 0px 5px 3px 5px;
      padding: 0px 10px;
      font-family: "OpenSans-Regular"; }
      .df-new .df-new-box .df-bg-new .df-status-product img {
        width: 8px;
        height: 6px; }
    .df-new .df-new-box .df-bg-new .df-price {
      text-align: center;
      color: #2d3246;
      font-family: "OpenSans-Regular";
      padding: 18px 0px 12px 0px;
      font-size: 19px;
      font-weight: bold; }
      .df-new .df-new-box .df-bg-new .df-price em {
        text-decoration: line-through;
        color: #a1a9b2;
        font-size: 13.5px;
        padding-right: 11px;
        font-family: "OpenSans-LightOpenSans-Light"; }
        .df-new .df-new-box .df-bg-new .df-price em b {
          font-size: 9.26px; }
      .df-new .df-new-box .df-bg-new .df-price b {
        font-weight: normal;
        font-size: 13px;
        font-family: "OpenSans-LightOpenSans-Light";
        color: #2d3246; }
    .df-new .df-new-box .df-bg-new .df-buy-product {
      width: 155px;
      height: 33px;
      background: #23c954;
      border-radius: 3px;
      padding: 5px 5px 5px 5px;
      border-bottom: 3px solid  #14b242;
      border-radius: 3px;
      font-family: "OpenSans-Regular";
      font-size: 14px;
      margin-bottom: 4px;
      transition: background 0.5s, border 0.5s;
      display: table; }
      .df-new .df-new-box .df-bg-new .df-buy-product .df-number {
        text-align: center;
        background: #14b242;
        border-radius: 3px;
        display: inline-block;
        display: table-cell;
        vertical-align: middle;
        width: 45%;
        color: #fff;
        transition: background 0.5s;
        vertical-align: middle;
        user-select: none;
        -moz-user-select: none;
        -o-user-select: none; }
        .df-new .df-new-box .df-bg-new .df-buy-product .df-number span {
          color: #fff;
          padding: 0 1px;
          cursor: pointer;
          vertical-align: top; }
        .df-new .df-new-box .df-bg-new .df-buy-product .df-number input {
          background: #14b242;
          outline: none;
          border: none;
          width: 20px;
          text-align: center;
          transition: background 0.5s; }
      .df-new .df-new-box .df-bg-new .df-buy-product .df-buy {
        display: table-cell;
        vertical-align: middle;
        width: 55%;
        padding-left: 5px; }
        .df-new .df-new-box .df-bg-new .df-buy-product .df-buy a {
          background: url(/img/basket.png) top 0px right no-repeat;
          width: 70px;
          padding-right: 25px;
          color: #fff;
          font-size: 14px;
          font-family: "Myriad Pro"; }
    .df-new .df-new-box .df-bg-new .df-buy-product:hover {
      background: #da2d26;
      border-bottom: 3px solid #cd1e1a; }
      .df-new .df-new-box .df-bg-new .df-buy-product:hover .df-number {
        background: #bc130f; }
        .df-new .df-new-box .df-bg-new .df-buy-product:hover .df-number input {
          background: #bc130f; }
    .df-new .df-new-box .df-bg-new .df-buy1click {
      text-align: center;
      font-family: "OpenSans-LightOpenSans-Light";
      display: inline-block;
      margin: 0px 0 0px 0; }
      .df-new .df-new-box .df-bg-new .df-buy1click a {
        text-align: center;
        font-size: 12px;
        font-family: "OpenSans-Regular";
        color: #26ce58;
        border-bottom: 1px dashed #26ce58;
        transition: color 0.5s, border 0.5s; }
    .df-new .df-new-box .df-bg-new .df-buy1click a:hover {
      color: #da2d26;
      border-bottom: 1px dashed #da2d26; }

.df-new-popular-text {
  background: #fff;
  border: 1px solid #ebedef;
  border-radius: 3px;
  padding: 0 25px 0 25px;
  max-width: 712px;
  margin: 0 auto;
  margin-bottom: 34px; }
  .df-new-popular-text .dftext1 h3, .df-new-popular-text .dftext2 h3 {
    font-family: "OpenSans-Semibold";
    font-size: 18px;
    color: #010101;
    line-height: 24px;
    text-transform: none; }
  .df-new-popular-text .dftext1 p, .df-new-popular-text .dftext2 p {
    font-family: "OpenSans-LightOpenSans-Light";
    font-size: 13px;
    color: #414551;
    line-height: 23px; }
  .df-new-popular-text .dftext1 h3 {
    margin: 30px 0 24px 0; }
  .df-new-popular-text .dftext2 h3 {
    margin: 21px 0 15px 0;
    font-size: 16px; }
  .df-new-popular-text .dftext3 ul {
    margin-top: 15px; }
    .df-new-popular-text .dftext3 ul li {
      font-size: 13px;
      font-family: "OpenSans-LightOpenSans-Light";
      color: #414551;
      margin-bottom: 23px;
      line-height: 23px;
      padding-left: 20px;
      background: url(/img/df-list-style.png) no-repeat top 8px left; }
      .df-new-popular-text .dftext3 ul li b {
        font-family: "OpenSans-Semibold";
        color: #000000;
        font-size: 13px; }

div.df-new:nth-child(4n+1) {
  margin-right: 0px; }

@media only screen and (min-width: 768px) {
  .df-top-caption {
    margin-top: 50px; }
    .df-top-caption .df-caption-popular {
      float: left;
      padding: 0; }
    .df-top-caption .df-look-all {
      float: right; } }
@media only screen and (min-width: 992px) {
  .df-new-4boxs {
    text-align: left; } }

/*# sourceMappingURL=style5.css.map */
