.clear{
	clear:both;
}
.df-new-4boxs{padding-left: 17%;}
.df-new{
	display: inline-block;
    // float: left;
    margin-right: 14px;
    margin-top: 15px;
    //position: relative;
    .df-new-box{    	
	    .df-bg-new{
	    	background: #fff;
		    border-radius: 6px;
		    box-shadow: 0 2px 5px #dcdcdc;		   
		    width: 171px;
		    //overflow: hidden;
		    min-height: 340px;
		    padding: 0 8px;
		    .df-name-product{
		    	display: block;
		    	padding: 9px;
		    	text-align: center;
		    	.df-img{		    		  		
		    		height: 120px;
		    		width: 150px;
		    		padding: 15px 20px 0 10px;	
		    	}
		    	.df-title{		    		
		    		color:#4278ca;
				    font-family: "OpenSans-Regular";
				    font-size: 13px; line-height: 18px;
				    margin: 10px 5px;				    
				    overflow: hidden;
				    border-bottom: 1px solid #4278ca;
				    //height: 38px;
				    width:120px;
				    transition:color 0.5s, border 0.5s ease 0s;

		    	}
		    	.df-title:hover{
		    		color:#25cc56;
		    		border-bottom: 1px solid #25cc56;
		    	}
		    }
		    .df-status-product{
		    	font-size: 12px;
		    	color:#929ca6;
    			margin: 3px 5px;
    			padding: 0px 10px;
    			font-family: "OpenSans-Regular";
    			text-align: center;
    			img{
    				width: 8px;
    				height: 6px;    				
    			}
		    }
		    .df-price{
		    	text-align: center;		    		    	
			    color: #2d3246;			    
			    font-family: "OpenSans-Regular";
			    margin-top: 10px;			    
			    padding: 15px 12px;
			    font-size: 19px;
			    font-weight: bold;
			    margin-bottom: 37px;
			    b{
			    	font-weight: normal;
			    	font-size: 13px;

			    }
		    }
		    .df-buy-product{
		    	width: 155px;
		    	height: 33px;
		    	background: #23c954;
		    	border-radius: 3px;
		    	padding:5px;
		    	border-bottom: 3px solid  #14b242; border-radius: 3px;
		    	transition:background 0.5s, border 0.5s ;
		    	.df-number{
		    		text-align: center;
					background: #14b242;
					border-radius: 3px;
					display: inline-block;
					width: 60px;
					height: 22px;
					color:#fff;
					transition:background 0.5s;	
		    	}
		    	.df-buy{
					background: url(/img/basket.png)center right no-repeat;
					width: 70px;
					padding-right: 25px;
					color:#fff;
		    	}
		    }
		    .df-buy-product:hover{
		    	background: #da2d26;
		    	border-bottom: 3px solid #cd1e1a;
		    	.df-number{
		    		background: #bc130f;
		    	}
		    }
	    } 
    }
}




@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}