

.df-bg{
	display: none;
	background: #2d3246;
	height: 55px;
	width: 100%;
	.df-logotip{
		padding: 10px 0 10px 0px;
		.df-img-logo{
			float: left;
			margin-left: 41px;
			//height: 73px;
			.df-img-wrap{
				float: left;
			}		
			.dfimgtext{
				float: left;
				padding-left: 12px;
				span{
					text-transform: uppercase;
					font-family: "ArialNarrow";
					font-size: 15px;
					display: block;
					letter-spacing: 8px;
					color:#fff;
					font-weight: bold;
				}
				span:first-child{
					color: #00CA48;
				}
			}
		}
	}
	.df-numbers{
		padding-top: 5px;
		margin-left: 159px;
		float: left;
		span{
			float: left;			
			color: #e3e4e6;
			font-size: 17px;
			font-family: "OpenSans-LightOpenSans-Light";
			margin-left: 23px;
			em{
				font-family: "OpenSans-Semibold";
			}
		}
	}
	.df-button-buy{
		float: right;
		margin-right: 65px;
		
		a{
			display: inline-block;
			//background: url(/img/dd-tel.png) no-repeat center left;
			background-color: #00CF4D;
			padding: 6px 15px 6px 34px;			
			border-radius: 4px;
			border-bottom: 3px solid #00B334;
			font-family: "Conv_MyriadPro-Regular";
			color: #fff;
			font-size: 14px;
			position: relative;
		}
		a:after{
			content: "";			
			position: absolute;
			background: url(../img/dd-tel.png) no-repeat center;
			width: 16px;
			height: 16px;
			left: 10px;
		}
	}
	.df-basket{
		width: 138px; height: 33px;
		border: 1px solid #00CF4D;
		border-radius: 5px;
		float: right;
		text-align: right;
		padding: 3px 5px 3px 15px;
		position: relative;		
		.df-ellips{
			border-radius: 50px; width: 20px; height: 20px;
			background: #00CF4D;
			color:#fff;
			display: inline-block;
			text-align: center;
			position: absolute;
			top:-5px;
			left:27px;			
		}
		.df-pricebasket{		
		display: inline-block;
		font-family: "OpenSans-Semibold";
		font-size: 19px;
		color:#fff;
		background: url(../img/dd-korz2.png) no-repeat;
		padding-left: 45px;					
			em{
				font-family: "OpenSans-LightOpenSans-Light";
			}
		}
	}	
}

.clear{
	clear:both;
}
.df-new-4boxs{
	text-align: center;
}
#df-margintop{
	margin-top: 15px;
}
.df-top-caption{
	max-width: 715px;
	margin:0 auto;
	padding: 0 3px;
	margin-bottom: 5px;	
	.df-caption-popular{		
		display: inline-block;
		font-size: 21px;
		color:#2d3246;
		text-transform: uppercase;
		font-family: "ArialNarrow";
		padding: 0px 9px 10px 0px;		
	}
	.df-look-all{
		display: inline-block;
		font-family: "OpenSans-LightOpenSans-Light";		
		color:#5c6d7d; font-size: 13px;
		padding: 7px 12px;
		background: #fff;
		border:1px solid #ebedef;
		border-radius: 5px;				
	}
}
.df-new{
	display: inline-block;
    //float: left;
    margin: 0 2.5px;
    margin-bottom: 30px;    
    text-align: center;   
    .df-new-box{    	
	    .df-bg-new{
	    	background: #fff;
		    border-radius: 6px;
		    border:1px solid #ebedef;
		    //box-shadow: 0 2px 5px #dcdcdc;		   
		    width: 171px;
		    //overflow: hidden;
		    //min-height: 340px;
		    padding: 0 5px;
		    padding-bottom: 11px;
		    position: relative;
		    .df-name-product{
		    	display: block;
		    	padding: 7px;
		    	// text-align: center;
		    	.df-img{		    		  		
		    		height: 115px;
		    		width: 160px;
		    		//padding: 15px 20px 0 0px;
		    		margin-top: 12px;
		    				    		   		
		    		img{
		    			margin: 0 auto;		    			
		    			display: inline-block;  			 			
		    		}		    		
		    		.df-new-hit, .hit-red{
		    			font-family: "OpenSans-Bold";
		    			font-size: 13px;
		    			border:1px solid #23c954;
		    			border-radius: 5px;
		    			color:#23c954;
		    			text-transform: uppercase;
		    			padding: 5px 7px;
		    			position: absolute;
		    			top:11px;
		    			left:8px;
		    			background: rgba(#fff,0.5);
		    		}
		    		.hit-red{
		    			color:#da2d26;
		    			border:1px solid #da2d26;
		    		}	
		    	}
		    	.df-title{		    		
		    		color:#4278ca;
				    font-family: "OpenSans-Regular";
				    font-size: 13px; line-height: 18px;				    				    
				    overflow: hidden;
				    border-bottom: 1px solid #4278ca;				    
				    transition:color 0.5s, border 0.5s ease 0s;
		    	}
		    	.df-title:hover{
		    		color:#25cc56;
		    		border-bottom: 1px solid #25cc56;
		    	}
		    }
		    .df-status-product{
		    	font-size: 12px;
		    	color:#929ca6;
    			margin: 0px 5px 3px 5px;
    			padding: 0px 10px;
    			font-family: "OpenSans-Regular";    			
    			img{
    				width: 8px;
    				height: 6px;    				
    			}
		    }
		    .df-price{
		    	text-align: center;		    		    	
			    color: #2d3246;			    
			    font-family: "OpenSans-Regular";
			    //margin-top: 10px;			    
			    padding: 14px 0px 12px 0px;
			    font-size: 19px;
			    font-weight: bold;
			    em{
			    	text-decoration: line-through; 
					color:#a1a9b2;
					font-size: 13.5px;
					padding-right: 11px;
					font-family: "OpenSans-LightOpenSans-Light";
					b{
						font-size: 9.26px;
					}
			    }			    
			    b{
			    	font-weight: normal;
			    	font-size: 13px;
			    	font-family: "OpenSans-LightOpenSans-Light";
			    }
		    }
		    .df-buy-product{
		    	width: 155px;
		    	height: 33px;
		    	background: #23c954;
		    	border-radius: 3px;
		    	padding:5px;
		    	border-bottom: 3px solid  #14b242; border-radius: 3px;
		    	font-family: "OpenSans-Regular";
		    	font-size: 14px;
		    	margin-bottom: 4px;
		    	transition:background 0.5s, border 0.5s ;
		    	.df-number {
		    		text-align: center;
					background: #14b242;
					border-radius: 3px;
					display: inline-block;
					width: 60px;
					height: 22px;
					color:#fff;
					transition:background 0.5s;
					a{
						color:#fff;
						padding: 0 px;
					}	
		    	}
		    	.df-buy a{
					background: url(/img/basket.png)center right no-repeat;
					width: 70px;
					padding-right: 25px;
					padding-left: 5px;
					color:#fff;

		    	}
		    }
		    .df-buy-product:hover{
		    	background: #da2d26;
		    	border-bottom: 3px solid #cd1e1a;
		    	.df-number{
		    		background: #bc130f;
		    	}
		    }
		    .df-buy1click{
		    	text-align: center;		    	
		    	font-family: "OpenSans-LightOpenSans-Light";
		    	a{
			    	text-align: center;
			    	font-size: 12px;
			    	font-family: "OpenSans-Regular";
			    	color:#26ce58;		    	
			    	border-bottom: 1px dashed #26ce58;			    	
			    	transition:color 0.5s, border 0.5s;
		    	}
			}
		    .df-buy1click a:hover{
				color:#da2d26;
				border-bottom: 1px dashed #da2d26;
		    }
	    } 
    }
}






@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
	.df-top-caption{
		margin-top: 40px;	
		.df-caption-popular{		
			float: left;
			padding:0;
		}
		.df-look-all{		
			float: right;			
		}
	}
}

@media only screen and (min-width : 992px) {
	
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}