.dd-header-wrapper {
  padding-bottom: 20px; }
  .dd-header-wrapper .dd-line {
    background: url(../img/dd-line.png) no-repeat center;
    height: 4px;
    width: 100%;
    background-size: cover;
    box-shadow: 0 0 22px 1px; }
  .dd-header-wrapper .dd-logo-wrap {
    padding-top: 33px;
    margin: 0 auto;
    width: 236px; }
    .dd-header-wrapper .dd-logo-wrap .dd-logo-img {
      float: left;
      height: 73px; }
    .dd-header-wrapper .dd-logo-wrap .dd-logo-txt {
      float: left;
      padding-left: 12px; }
      .dd-header-wrapper .dd-logo-wrap .dd-logo-txt span {
        text-transform: uppercase;
        font-family: "ArialNarrow";
        font-size: 15px;
        display: block;
        letter-spacing: 8px; }
      .dd-header-wrapper .dd-logo-wrap .dd-logo-txt span:first-child {
        color: #00CA48; }
      .dd-header-wrapper .dd-logo-wrap .dd-logo-txt span:last-child {
        color: #262E45; }
      .dd-header-wrapper .dd-logo-wrap .dd-logo-txt .dd-slogan-txt {
        padding-top: 5px;
        font-family: "OpenSans-LightOpenSans-Light";
        color: #AAAAAA;
        font-size: 12px; }
  .dd-header-wrapper .dd-phone-wrap .dd-phone {
    padding-top: 33px;
    text-align: center; }
    .dd-header-wrapper .dd-phone-wrap .dd-phone .dd-cont {
      padding-bottom: 5px; }
    .dd-header-wrapper .dd-phone-wrap .dd-phone span {
      display: block; }
    .dd-header-wrapper .dd-phone-wrap .dd-phone span:nth-child(1) {
      font-family: "OpenSans-LightOpenSans-Light";
      color: #AAAAAA;
      font-size: 11px; }
    .dd-header-wrapper .dd-phone-wrap .dd-phone .dd-numbers {
      font-size: 17px;
      font-family: "OpenSans-LightOpenSans-Light";
      color: #4B5763; }
      .dd-header-wrapper .dd-phone-wrap .dd-phone .dd-numbers span {
        display: inline-block;
        font-size: 17px;
        font-family: "OpenSans-Semibold";
        color: #262E45; }
  .dd-header-wrapper .dd-phone-wrap .dd-header-button-wrap {
    margin-top: 16px;
    text-align: center; }
    .dd-header-wrapper .dd-phone-wrap .dd-header-button-wrap .dd-header-button {
      position: relative;
      display: inline-block;
      background: #00CF4D;
      padding: 6px 15px 6px 34px;
      border-radius: 4px;
      border-bottom: 3px solid #00B334;
      font-family: "Conv_MyriadPro-Regular";
      color: #fff;
      font-size: 14px; }
    .dd-header-wrapper .dd-phone-wrap .dd-header-button-wrap .dd-header-button:hover {
      background: #10DF5D; }
    .dd-header-wrapper .dd-phone-wrap .dd-header-button-wrap .dd-header-button:after {
      content: "";
      position: absolute;
      background: url(../img/dd-tel.png) no-repeat center;
      width: 16px;
      height: 16px;
      left: 10px; }
  .dd-header-wrapper .dd-time-wrap {
    padding-top: 33px;
    position: relative; }
    .dd-header-wrapper .dd-time-wrap .dd-time {
      position: relative;
      width: 186px;
      height: 54px;
      padding-left: 34px;
      margin: 0 auto; }
      .dd-header-wrapper .dd-time-wrap .dd-time .dd-time-element:first-child {
        font-size: 11px;
        font-family: "OpenSans-LightOpenSans-Light";
        color: #4B5763; }
      .dd-header-wrapper .dd-time-wrap .dd-time .dd-time-element:nth-child(2) {
        font-size: 20px;
        font-family: "OpenSans-Semibold";
        color: #262E45; }
      .dd-header-wrapper .dd-time-wrap .dd-time .dd-time-element:nth-child(3) {
        font-size: 13px;
        font-family: "OpenSans-LightOpenSans-Light";
        color: #4B5763; }
    .dd-header-wrapper .dd-time-wrap .dd-time:after {
      content: "";
      position: absolute;
      background: url(../img/dd-watch.png) no-repeat center;
      width: 24px;
      height: 24px;
      left: 0;
      top: 22px; }
  .dd-header-wrapper .dd-korzina-wrap {
    padding-top: 33px; }
    .dd-header-wrapper .dd-korzina-wrap .dd-korzina-element {
      margin: 0 auto;
      position: relative;
      padding-left: 67px;
      padding-top: 12px;
      width: 168px;
      height: 60px;
      border: 1px solid #00C545;
      border-radius: 5px; }
      .dd-header-wrapper .dd-korzina-wrap .dd-korzina-element .dd-elipse {
        position: absolute;
        background: #00D24F;
        width: 20px;
        height: 20px;
        text-align: center;
        border-radius: 10px;
        font-family: "OpenSans-Bold";
        font-size: 14px;
        color: #fff;
        left: 27px;
        top: 15px;
        z-index: 500; }
      .dd-header-wrapper .dd-korzina-wrap .dd-korzina-element .dd-korzina-txt {
        font-size: 13px;
        font-family: "OpenSans-LightOpenSans-Light";
        color: #4B5763; }
      .dd-header-wrapper .dd-korzina-wrap .dd-korzina-element .dd-price {
        text-align: center; }
        .dd-header-wrapper .dd-korzina-wrap .dd-korzina-element .dd-price span {
          font-family: "MicrosoftSansSerif";
          color: #262E45;
          font-size: 19px; }
        .dd-header-wrapper .dd-korzina-wrap .dd-korzina-element .dd-price .dd-ex-price span {
          font-size: 13px;
          font-family: "OpenSans-LightOpenSans-Light"; }
    .dd-header-wrapper .dd-korzina-wrap .dd-korzina-element:after {
      content: "";
      position: absolute;
      background: url(../img/dd-korz.png) no-repeat center;
      width: 27px;
      height: 23px;
      left: 15px;
      top: 19px; }

@media only screen and (min-width: 992px) {
  .dd-header-wrapper .dd-phone-wrap {
    float: left;
    width: 321px;
    height: 56px; }
    .dd-header-wrapper .dd-phone-wrap .dd-phone {
      float: left;
      padding-top: 27px;
      text-align: left;
      padding-left: 10px; }
    .dd-header-wrapper .dd-phone-wrap .dd-header-button-wrap {
      float: left;
      padding-top: 35px; }
      .dd-header-wrapper .dd-phone-wrap .dd-header-button-wrap .dd-header-button {
        margin-left: 14px; }
  .dd-header-wrapper .dd-time-wrap {
    float: left;
    width: 160px;
    height: 63px;
    margin-left: 25px;
    padding-left: 6px;
    padding-top: 28px; }
    .dd-header-wrapper .dd-time-wrap .dd-time {
      float: left; }
  .dd-header-wrapper .dd-korzina-wrap {
    float: left;
    padding-left: 23px;
    padding-top: 31px; } }
@media only screen and (min-width: 1248px) {
  .dd-header-wrapper .dd-time-wrap {
    width: 188px; } }

/*# sourceMappingURL=style4.css.map */
